﻿@model DoAnCoSoWeb.Models.Sanpham

<form class="form form-horizontal" asp-action="Create" asp-controller="Product" method="POST">
    <div class="create-form-list">
        <div class="create-form-items">
            <span class="name_create_lab"> CREATE NEW PRODUCTS</span>
            <div class="form-group">
                <label class="create-label">Tên sản phẩm </label>
                <div class="col-md-9">
                    <input class="form-control" asp-for="TenSanPham" required />
                    <span asp-validation-for="TenSanPham" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="create-label">Mô tả</label>
                <div class="col-md-9">
                    <input class="form-control" asp-for="Mota" required />
                    <span asp-validation-for="Mota" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="create-label">Link sản phẩm</label>
                <div class="col-md-9">
                    <input class="form-control" asp-for="Link" required />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="create-label">Giá</label>
                <div class="col-md-9">
                    <input class="form-control" asp-for="Gia" required />
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="create-label">Hình ảnh chính</label>
                <input type="file" asp-for="Image1" class="form-control" />
                @* <span asp-validation-for="Image1" class="text-danger"></span> *@
            </div>

            <div class="form-group">
                <label class="create-label">Hình ảnh 2</label>
                <input type="file" asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="create-label">Hình ảnh 3</label>
                <input type="file" asp-for="Image3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="create-label">Loại </label>
                <select asp-for="LoaiId" class="form-control_table" asp-items="ViewBag.Category"></select>
            </div>

            <div class="form-group">
                <label class="create-label">Hãng </label>
                <select asp-for="HangId" class="form-control_table" asp-items="ViewBag.Company"></select>
            </div>

            <div class="form-group">
                <label class="create-label">Sale </label>
                <select asp-for="SaleId" class="form-control_table" asp-items="ViewBag.Sale"></select>
            </div>

            <div class="form-group">
                <label class="create-label">Kho </label>
                <select asp-for="KhoId" class="form-control_table" asp-items="ViewBag.Warehouse"></select>
            </div>
            <div class="create-btn">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>