﻿@model DoAnCoSoWeb.Models.Sanpham

@* @{
    ViewData["Title"] = "Delete";
} *@

<h1>Delete</h1>

<h3 style="color:orangered">Bạn có muốn xóa sản phẩm !? </h3>
<div>

    <hr />
    <dl class="rows">
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.TenSanPham)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.TenSanPham)
            </dd>
        </div>

        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.Gia)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.Gia)
            </dd>
        </div>
        
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.Mota)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.Mota)
            </dd>
        </div>
        
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.Image1)
            </dt>
            <dd class="deleted-name">
                <img src="~/image/@Model.Image1" width="60px" width="30px" />
            </dd>
        </div>
        
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.LoaiId)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.LoaiId)
            </dd>
        </div>
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.HangId)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.hang.TenHang)
            </dd>
        </div>
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.SaleId)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.Sale.Name)
            </dd>
        </div>
        <div class="form-group">
            <dt class="edit-label">
                @Html.DisplayNameFor(model => model.KhoId)
            </dt>
            <dd class="deleted-name">
                @Html.DisplayFor(model => model.Kho.TenKho)
            </dd>
        </div>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

