﻿@model DoAnCoSoWeb.Models.Sanpham

<h2>Product Details</h2>
<div>
    <h4>Name: @Model.TenSanPham</h4>
    <h4>Price: @Model.Gia</h4>
    <h4>Description: @Model.Mota</h4>
</div>
<a asp-action="Index">Back to List</a>
