﻿@model DoAnCoSoWeb.Models.Sanpham

@* @{
    ViewData["Title"] = "Edit";
} *@

<h1>Sửa thông tin sản phẩm</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div style="margin-left: 10px;" class="col-md-4">
        <form asp-action="Edit" asp-controller="Product" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="TenSanPham" class="edit-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="edit-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="edit-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <img style="margin-left: 120px;" src="~/image/@Model.Image1" width="100px" />
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="edit-label"></label>
                <input type="file" asp-for="Image1" class="form-control" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Image1" class="edit-label"></label>
                <input type="file" asp-for="Image1" class="form-control" value="@Model.Image1" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/image/@Model.Image1" alt="Current Image 1" style="margin-left: 120px;" width="100px" />
            </div>

            <div class="form-group">
                <label asp-for="Image2" class="edit-label"></label>
                <input type="file" asp-for="Image2" class="form-control" value="@Model.Image2" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/image/@Model.Image2" alt="Current Image 2" style="margin-left: 120px;" width="100px" />
            </div>

            <div class="form-group">
                <label asp-for="Image3" class="edit-label"></label>
                <input type="file" asp-for="Image3" class="form-control" value="@Model.Image3" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/image/@Model.Image3" alt="Current Image 3" style="margin-left: 120px;" width="100px" />
            </div>




            <div class="form-group">
                <label class="edit-label">Loại </label>
                <select asp-for="LoaiId" class="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label class="edit-label">Hãng </label>
                <select asp-for="HangId" class="form-control_table" asp-items="ViewBag.Company"></select>
            </div>

            <div class="form-group">
                <label class="edit-label">Sale </label>
                <select asp-for="SaleId" class="form-control_table" asp-items="ViewBag.Sale"></select>
            </div>

            <div class="form-group">
                <label class="edit-label">Kho </label>
                <select asp-for="KhoId" class="form-control_table" asp-items="ViewBag.Warehouse"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

