﻿@model IEnumerable<DoAnCoSoWeb.Models.Sanpham>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

<h1>Danh Sách Sản Phẩm</h1>
<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Hình ảnh 1</th>
            <th>Hình ảnh 2</th>
            <th>Hình ảnh 3</th>
            <th>Hãng</th>        
            <th>Sale</th>
            <th>Kho</th>
            <th>Loại sản phẩm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenSanPham)</td>
                <td>@item.Gia.ToString("#,##0") VND</td>
                <td>@Html.DisplayFor(modelItem => item.Mota)</td>
                <td><img src="~/image/@item.Image1" style="max-width: 100px;" /></td>
                <td><img src="~/image/@item.Image2" style="max-width: 100px;" /></td>
                <td><img src="~/image/@item.Image3" style="max-width: 100px;" /></td>
                <td>@Html.DisplayFor(modelItem => item.hang.TenHang)</td>
                <td>@Html.DisplayFor(modelItem => item.Sale.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Kho.TenKho)</td>
                <td>@Html.DisplayFor(modelItem => item.LoaiId)</td>
                <td>
                    <a asp-action="Edit"  asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>