﻿@model DoAnCoSoWeb.ViewModels.CartViewModels

<h2>Giỏ hàng của bạn</h2>

@if (Model.chiTietGioHangs.Count > 0)
{
    <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
    <button id="btnDeleteAll" class="btn btn-primary">Xoá giỏ hàng</button>
    <button id="btnPayment" class="btn btn-success">Thanh toán</button>
    <form id="frmPayment" method="post" action="/Cart/Payment">
        <table class="tables">
            <thead>
                <tr class="table_tr">
                    <th></th>
                    <th></th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng cộng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.chiTietGioHangs)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedProducts" value="@item.SanPhams.Id" />
                        </td>
                        <td>
                            <img src="~/image/@item.SanPhams.Image1" width="100" />
                        </td>
                        <td>@item.SanPhams.TenSanPham</td>
                        <td><span style="margin: 0px 20px;">@item.SanPhams.Gia.ToString("N0")</span></td>
                        <td>
                            <button style="margin-right: 10px;" class="minus-btn" data-id="@item.SanPhams.Id">-</button>
                            @item.Quantity
                            <button style="margin: 0px 10px;" class="plus-btn" data-id="@item.SanPhams.Id">+</button>
                        </td>
                        <td>@((item.Quantity * item.SanPhams.Gia).ToString("N0"))</td>
                        <td style="margin-left: 20px;">
                            <a style="margin-left: 20px;" href="#" data-id="@item.SanPhams.Id" class="btn btns-delete">Xoá</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <div style="margin-top:10px;margin-bottom:10px;margin-left:auto; margin-right:auto">
        <img width="100%" height="100%" src="~/image/empty-cart-1.png" />
        <span style="margin-left: 36%; color: red; font-weight: 500px;" class="alert alert-danger">Bạn chưa có sản phẩm nào trong giỏ hàng</span>
    </div>
}

@section scripts {
    <script src="~/js/cart.js"></script>
    <script>
        $('#btnPayment').click(function () {
            $('#frmPayment').submit();
        });
    </script>
}



<script>
    $(document).ready(function () {
        $('.plus-btn, .minus-btn').on('click', function () {
            var id = $(this).data('id');
            var quantityChange = $(this).hasClass('plus-btn') ? 1 : -1;

            // Gọi phương thức Update trên server để cập nhật số lượng sản phẩm
            $.ajax({
                url: '/Cart/Update',
                method: 'POST',
                data: { id: id, quantity: quantityChange },
                success: function (response) {
                    if (response.status) {
                        // Cập nhật số lượng và tổng giá tiền trên trang web
                        var row = $('button[data-id="' + id + '"]').closest('tr');
                        var price = parseFloat(row.find('.price').text().replace(',', ''));
                        var quantity = parseInt(row.find('.quantity').text()) + quantityChange;
                        var total = price * quantity;

                        row.find('.quantity').text(quantity);
                        row.find('.total').text(total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));

                        // Tải lại trang để cập nhật các thay đổi
                        location.reload();
                    }
                }
            });
        });
    });
</script>

