﻿@model DoAnCoSoWeb.ViewModels.CartViewModels

<h2>Xem sản phẩm đã chọn</h2>

@if (Model.selectedProducts != null && Model.selectedProducts.Any())
{
    <form method="post" action="/Cart/PaymentConfirmation">
        @foreach (var productId in Model.selectedProducts)
        {
            <input type="hidden" name="selectedProducts" value="@productId" />
        }
        <table class="tables">
            <thead>
                <tr>
                    <th></th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng cộng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var productId in Model.selectedProducts)
                {
                    var product = Model.chiTietGioHangs.FirstOrDefault(item => item.SanphamId == productId);
                    if (product != null)
                    {
                        <tr>
                            <td>
                                <img src="~/image/@product.SanPhams.Image1" width="100" />
                            </td>
                            <td>@product.SanPhams.TenSanPham</td>
                            <td>@product.SanPhams.Gia.ToString("N0")</td>
                            <td>@product.Quantity</td>
                            <td>@((product.Quantity * product.SanPhams.Gia).ToString("N0"))</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Xác nhận thanh toán</button>
    </form>
}
else
{
    <div>
        <p>Không có sản phẩm nào được chọn.</p>
    </div>
}



                