﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.2-web/css/all.css" />
    <link rel="stylesheet" href="~/DoAnCoSoWeb.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <header>
        <nav class="header_navbar">
            <ul class="header_navbar-list">
                <li class="hearder_navbar-item">
                    <span class="hearder_navbar-title">Social Network</span>
                    <a href="https://www.facebook.com/profile.php?id=100071593765684&mibextid=LQQJ4d" class="header_navbar-icon-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="header_navbar-icon-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>

            <ul class="header_navbar-list">
                @* <li class="header_navbar-item">
                    <a href="thong-bao" class="header_navbar-item-link"><i class="fa-solid fa-bell"></i> Thông báo</a>
                </li>

                <li class="header_navbar-item">
                    <a href="ho-tro" class="header_navbar-item-link"><i class="fa-solid fa-circle-info"></i> Hổ trợ</a>
                </li>    *@       
                <!-- Thông báo -->
                <li class="header_navbar-item">
                    <a href="#" class="header_navbar-item-link" onclick="redirectToNotification()">
                        <i class="fa-solid fa-bell"></i> Thông báo
                    </a>
                </li>

                <!-- Hỗ trợ -->
                <li class="header_navbar-item">
                    <a href="#" class="header_navbar-item-link" onclick="redirectToSupport()">
                        <i class="fa-solid fa-circle-info"></i> Hỗ trợ
                    </a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    @* 
                    <li class="header_navbar-item header_navbar-user">
                        <a href="dang-xuat"><i class="header_logou_icon fa-solid fa-right-from-bracket"></i> </a>
                    </li>
                    <li class="header_navbar-item header_navbar-user">
                        <a href="thong-tin"><span class="header_navbar-user-name">@username</span></a>
                    </li>   *@
                    string username = User.Identity.Name;
                    <li class="header_navbar-item header_navbar-user">
                        <a href="#" onclick="redirectToLogout()"><i class="header_logou_icon fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
                    </li>
                    <li class="header_navbar-item header_navbar-user">
                        <a href="#" onclick="redirectToUserInfo()"><span class="header_navbar-user-name">@username</span></a>
                    </li>

                }
                else
                {
                    @* <li class="header_navbar-item header_navbar-item-link-strong header_navbar-item-separation">
                        <a href="dang-ky" class="header_navbar-item-link">Đăng ký</a>
                    </li>
                    <li class="header_navbar-item header_navbar-item-link-strong">
                        <a href="dang-nhap" class="header_navbar-item-link">Đăng nhập</a>
                    </li> *@
                    <!-- Đăng ký -->
                    <li class="header_navbar-item header_navbar-item-link-strong header_navbar-item-separation">
                        <a href="#" class="header_navbar-item-link" onclick="redirectToRegister()">Đăng ký</a>
                    </li>
                    <!-- Đăng nhập -->
                    <li class="header_navbar-item header_navbar-item-link-strong">
                        <a href="#" class="header_navbar-item-link" onclick="redirectToLogin()">Đăng nhập</a>
                    </li>

                }
            </ul>
        </nav>

        <div class="header_navbar-two">
            @* <div class="header_logo">
                <a href="trang-chu"><img width="100px" height="40px" src="~/image/LogoWater.png" alt="" class="header_logo-image"></a>
            </div> *@
            <div class="header_logo">
                <a id="logo" href="/trang-chu">
                    <img width="100px" height="40px" src="~/image/LogoWater.png" alt="" class="header_logo-image">
                </a>
            </div>

            <div class="header_srch">
               @*  <div class="header_srch-warp">
                    <input type="text" class="header_srch-in" placeholder="Tìm kiếm">
                    <div class="header_srch-history">
                        <h3 class="header_srch-history-header">Lịch sử tìm kiếm</h3>
                        <ul class="header_srch-history-list">
                            <li class="header_srch-history-items">
                                <a href="">Ram msi 16gb</a>
                            </li>

                            <li class="header_srch-history-items">
                                <a href="">Card RTX4070</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="header_srch-btn">
                    <i class="header_srch-btn-icon fa-solid fa-magnifying-glass"></i>
                </button> *@
                @await Html.PartialAsync("_Search")
            </div>

            @* <div class="header_cart">
                <a href="gio-hang"><i class="header_cart-icon fa-solid fa-cart-shopping"></i></a>
            </div> *@
            <div class="header_cart">
                <a href="#" id="cart-link"><i class="header_cart-icon fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="grid">
            
            <div class="grid_row content">
                @* <div class="grid_column-2">
                     <nav class="category">
                        <h3 class="category-heading"><i class="category-heading-icon fa-solid fa-list"></i> Danh Mục</h3>
                         <ul class="category-list">
                        <li class="category-items category-items-active">
                        <a href="#" class="category-items-link">Sản phẩm</a>
                        </li>
                        <li class="category-items">
                        <a href="#" class="category-items-link">Card đồ họa</a>
                        </li>
                        <li class="category-items">
                        <a href="#" class="category-items-link">Laptop</a>
                        </li>
                        <li class="category-items">
                        <a href="#" class="category-items-link">Ram</a>
                        </li>
                        </ul> 
                        <ul class="category-list">
                            <li class="category-items">
                                <a href="@Url.Action("ProductsByType", "Home", new { type = "all" })" class="category-items-link">Sản phẩm</a>
                            </li>
                            <li class="category-items">
                                <a href="@Url.Action("ProductsByType", "Home", new { type = "graphiccard" })" class="category-items-link">Card đồ họa</a>
                            </li>
                            <li class="category-items">
                                <a href="@Url.Action("ProductsByType", "Home", new { type = "laptop" })" class="category-items-link">Laptop</a>
                            </li>
                            <li class="category-items">
                                <a href="ram-san-pham" class="category-items-link">Ram</a>
                            </li>
                        </ul> 

                    </nav>
                </div>
                <div class="grid_column-10">
                    @RenderBody()
                </div> *@

                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <div class="footers">
            <div class="grid_column-3">
                <h3 class="footers_heading">Giới thiệu công ty</h3>
                <ul class="footers_list">
                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Thông tin công ty</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Tuyển dụng</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Gớp ý kiến, khiếu nại</span></a>
                    </li>
                </ul>
            </div>
            <div class="grid_column-3">
                <h3 class="footers_heading">Chính sách</h3>
                <ul class="footers_list">
                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Hướng dẫn mua trả góp</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Phương thức vận chuyển</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Hệ thống cửa hàng bán lẻ</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Chính sách bán hàng</span></a>
                    </li>

                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Chính sách bảo hành và đổi trả</span></a>
                    </li>
                    <li class="footers_items">
                        <a class="footers_items_link" href=""><span class="footers_info">Thanh toán</span></a>
                    </li>
                </ul>
            </div>
            <div class="grid_column-3">
                <h3 class="footers_heading">Tổng đài hổ trợ</h3>
                <ul class="footers_list">
                    <li class="footers_items">
                        <span class="footers_info">Gọi mua: 1900 232 460 (7:30 - 22:00)</span>
                    </li>

                    <li class="footers_items">
                        <span class="footers_info">Khiếu nại: 1800.1062 (8:00 - 21:30)</span>
                    </li>

                    <li class="footers_items">
                        <span class="footers_info">Bảo hành: 1900 232 464 (8:00 - 21:00)</span>
                    </li>
                </ul>
            </div>
            <div class="grid_column-3">
                <h3 class="footers_heading">Phương thức thanh toán</h3>
                <div class="payment-accept">

                    <img class="first lazy loaded" src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-1.png?1714203528691" data-src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-1.png?1714203528691" alt="payment-1">


                    <img class="lazy loaded" src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-2.png?1714203528691" data-src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-2.png?1714203528691" alt="payment-2">


                    <img class="lazy loaded" src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-3.png?1714203528691" data-src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-3.png?1714203528691" alt="payment-3">


                    <img class="lazy loaded" src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-4.png?1714203528691" data-src="//bizweb.dktcdn.net/100/386/607/themes/892751/assets/payment-4.png?1714203528691" alt="payment-4">

                </div>
            </div>

        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $('.header_cart').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Home/IsLoggedIn',
                type: 'GET',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/gio-hang";
                    } else {
                        swal({
                            title: "Thông báo",
                            text: "Vui lòng đăng nhập để tiếp tục",
                            icon: "warning",
                            button: "Đồng ý",
                        }).then(function () {
                            window.location.href = "/dang-nhap";
                        });
                    }
                }
            });
        });
    </script>


    <script>
        document.getElementById('logo').addEventListener('click', function () {
            window.location.href = '/trang-chu';
        });
    </script>

    <script>
        // Hàm chuyển hướng đến trang đăng ký
        function redirectToRegister() {
            window.location.href = "/dang-ky"; // Thay đổi đường dẫn URL tương ứng với trang đăng ký
        }

        // Hàm chuyển hướng đến trang đăng nhập
        function redirectToLogin() {
            window.location.href = "/dang-nhap"; // Thay đổi đường dẫn URL tương ứng với trang đăng nhập
        }

        // Hàm chuyển hướng đến trang Thông báo
        function redirectToNotification() {
            window.location.href = "/thong-bao"; // Thay đổi đường dẫn URL tương ứng với trang Thông báo
        }

        // Hàm chuyển hướng đến trang Hỗ trợ
        function redirectToSupport() {
            window.location.href = "/ho-tro"; // Thay đổi đường dẫn URL tương ứng với trang Hỗ trợ
        }

        // Hàm chuyển hướng đến trang Đăng xuất
        function redirectToLogout() {
            window.location.href = "/dang-xuat"; // Thay đổi đường dẫn URL tương ứng với trang Đăng xuất
        }

        // Hàm chuyển hướng đến trang Thông tin người dùng
        function redirectToUserInfo() {
            window.location.href = "/thong-tin"; // Thay đổi đường dẫn URL tương ứng với trang Thông tin người dùng
        }

    </script>
</body>
</html> 