﻿
* {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: #e2e2e2;
}

.header_navbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 0 20px;
}

.header_navbar-list {
    list-style-type: none;
    margin-left: -30px;
    display: flex;
}

.header_navbar-item {
    margin: 0px 10px;
    position: relative;
    min-height: 10px;
}

.header_navbar-user{
    display: flex;
    justify-items: center;
}

.header_navbar-user a{
    text-decoration: none;
}

.header_navbar-user-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}


.header_navbar-user-name {
    margin-left: 8px;
    text-align: center;
    font-size: 18px;
}

.header_navbar-icon-link {
    text-decoration: none;
    margin-left: 10px;
}

.header_navbar-item-link{
    margin-right: 10px;
    text-decoration: none;
}

.header_navbar-item-link-strong{
    font-weight: 600;
}

.header_navbar-item-separation::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: white;
    right: -12px;
    top: 8px;
    transform: translateY(-50%);
}

.header_navbar-two-logo {
    margin-left: 60px;
}

.header_navbar-two{
    display: flex;
    margin: 0px 20px;
}

.header_cart-icon {
    margin: 10px 100px;
    font-size: 20px;
    color: white;
}

.header_cart-icon:active{
    color: orangered;
}

.header_srch {
    flex: 1;
    /*height: 40px;*/
   /* background-color: white;*/
    border-radius: 3px;
    margin: 0 0 0 100px;
    display: flex;
    align-items: center;
}

.header_srch-warp {
    flex: 1;
    position: relative;
    height: 100%;
    width: 237px;
}
.header_srch-in {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #333;
    padding: 0 14px;
    border-radius: 3px;
    margin-top: 0.1px;
}

    .header_srch-in:focus ~ .header_srch-history {
        display: block;
    }

.header_srch-history{
    position: absolute;
    width: 100%;
    top: 104%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px #333;
    display: none;
}

.header_srch-history-header {
    margin: 10px 10px;
    font-size: 12px;
}

.header_srch-history-list {
    padding-left: 0px;
    list-style-type: none;
}

.header_srch-history-items {
    font-size: 12px;
    padding: 0 12px;
    height: 30px;
}

    .header_srch-history-items:hover{
        background-color: #fafafa;
    }

    .header_srch-history-items a {
        font-size: 12px;
        text-decoration: none;
        color: black !important;
        line-height: 30px;
    }


.header_srch-selection {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.header_srch-selection-label {
    font-size: 1rem;
    color: #333;
}

.header_srch-selection-icon {
    font-size: 1rem;
    color: #666;
    margin: 0 8px;
    position: relative;
    top: 1px;
}

.header_srch-btn {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 60px;
    margin: 3.7px 4px 3px 4px;
    outline: none;
}


.header_srch-btn {
    color: red;
}

.header_srch-btn-icon {
    font-size: 1.2rem;
    color: white;
    align-items: center;
}

/* Authen modal */
@keyframes fadeIns {
    from {
        opacity: 0; /* độ trong suốt */
    }

    to {
        opacity: 1.5;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIns linear 0.1s;
}

.modal__overlayout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 800px;
    height: 400px;
    background-color: white;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    animation: fadeIns linear 0.1s;
}

.btn {
    min-width: 142px;
    height: 40px;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn.btn--size-s {
        height: 34px;
        font-size: 1.2rem;
    }

    .btn.btn-normal:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .btn.btn--primary {
        color: var(--white-color);
        background-color: red;
    }

    .btn.btn--disable {
        color: #ccc;
        cursor: default;
        background-color: gray;
    }
.auth-frm {
    width: 100%;
}

.auth-frm__container {
    padding: 0 32px;
}

.auth-frm__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-frm__header a {
    text-decoration: none;
}

.auth-frm__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-frm__switch-btn {
    font-size: 1.5rem;
    font-weight: 400;
    color: orangered;
    cursor: pointer;
}

.auth-frm__form {
    margin-left: 0px;
}

.auth-frm__in {
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 12px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    font-size: 1rem;
    outline: none;
}

    .auth-frm__in:focus {
        border-color: #777;
    }

.auth-frm__otside {
    margin-top: 15px;
}

.auth-frm__policy {
    font-size: 1.2rem;
    text-align: center;
}

.auth-frm__policy-link {
    color: orangered;
    text-decoration: none;
}

.auth-frm__control {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-frm__control-bck {
    margin-right: 10px;
}

.auth-frm__social {
    margin-top: 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-frm__social-icon {
    font-size: 1.4rem;
}

.auth-frm__social--face {
    color: white;
    background-color: #3A5A98;
}

.auth-frm__social--face,
.auth-frm__social-icon {
    color: white;
}

.auth-frm__social--google {
    color: white;
    background-color: rgb(116, 9, 9);
}

.auth-frm__social-icon {
    margin-left: 10px;
}

.auth-frm__social_label {
    margin: 0 24px;
}

.auth-frm__help {
    display: flex;
    justify-content: flex-end;
}

.auth-frm__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-frm__help-separation {
    display: block;
    height: 20px;
    margin: 0 16px;
    border-left: 1px solid #dbdbdb;
}

.auth-frm__help-forgot {
    color: orangered;
}

.header_cart-list-no_product-image{
    width: 100%;
}

.header_cart-list-no_product{
    padding: 28px 0px;
}

.header_cart-list-no_product-titile{
    display: block;
    text-align: center;
}


.grid {
    width: 1200px;
    max-width: 100%; /* <1200 giảm kích thước bằng màng hình < 1200 */
    margin: 0, auto;
}

.grid_full-width {
    width: 100%;
}

.grid_row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.grid_column-2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
}

.grid_column-2_4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 17%;
}

.grid_column-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin-bottom: 10px;
}
.container{
    background-color: #f5f5f5;
    margin-top: 50px;
}

.content {
    padding-top: 24px;
}

.category {
    background-color: white;
    border-radius: 3px;
    margin-left: 40px;
}

.category-heading {
    font-size: 18px;
    padding: 12px 16px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.category-heading-icon{
    font-size: 14px;
    margin-right: 5px;
}

.category-list{
    padding-left: 0px;
    list-style: none;
    margin-left: 12px;
}


.category-items-active .category-items-link {
    color: orangered !important;
}

.category-items-active .category-items-link::before {
    content: "";
    top: 50%;
    left: 4px;
    transform :translateY(-50%);
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent orangered;
}

.category-items-link{
    position: relative;
    color: black !important;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: right linear 0.1s;
    right: 0px;
}

.category-items-link:hover{
    right: -4px;
    color: orangered !important;
}

/*HOME*/
.btn {
    min-width: 142px;
    height: 40px;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Home-product{
    display:flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
    border-radius: 3px;
}

.Home-product_btn{
    margin:0px 12px;
    font-size: 14px;
}

.select-in {
    position: relative;
    min-width: 160px;
    height: 40px;
    padding: 0 24px;
    margin-left: 12px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-in-lab {
    font-size: 14px;
}

.select-in:hover .select-in_icon-list{
    display: block;
}
.select-in_icon-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    background-color: white;
    border-radius: 3px;
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-in_icon-link {
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 4px 0px;
}

.select-in_icon-link:hover {
    color: orangered;
}

.Home-product-pages {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.product-item {
    position: relative;
    background-color: white;
    border-radius: 3px;
}

.product-item_image {
    border-radius: 3px;
}

.btn-option{
    display: flex;
    margin: 0px 20px;
}

.btn_CRUD{
    margin-right: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-new_create {   
    text-decoration: none;
}




.product-item_name {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 10px;
}

.product-item_price {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.product-item_price-old {
    font-size: 12px;
    color: #666;
    text-decoration: line-through;
    font-size: 8px;
}

.product-item_price-sale{
    color: orangered;
    font-size: 9px;
}

.img-rounded{
    border-radius: 3px;
}
.btn-info {
    width: 100px;
    height: 40px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: orangered;
}

.btn-info-icon{
    margin-left: 10px;
    margin-right: 10px;
}
.product-item_action {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.product-item_origin {
    display: flex;
    justify-content: space-between;
}

.product-item_name {
    
}

.product-item_saleoff{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.9);
}

    .product-item_saleoff::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        border-width: 0 20px 6px;
        border-style: solid;
        border-color: transparent rgba(255, 216, 64, 0.9)transparent rgba(255, 216, 64, 0.9);
    }

.product-item_love{
    margin-top: 5px;
}

.product-item_action-dislike {
    margin-top: 10px;
}

i.product-item_action-like {
    display: none;
}

.product-item_like .product-item_action-like{
    display: inline-block;
}

.product-item_pay {
    text-align: right;
    margin: 10px 10px;  
}

.product-item_sale-persents,
.product-item_sale-lab {
    font-size: 10px;
    font-weight: 400;
    color: red;
}

footer {
    width: 100%;
    height: 200px;
    background-color: white;
    bottom: 0;
}


.footers{
    display: flex;
}
.grid_column-3 {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;   
    width: 25%;
}
.footers_heading {
    margin-left: 10px;
    border-color: black;
}

.footers_list {
    padding: 0;
    margin: 10px 0px;
    list-style: none;
    width: 100%;
    
}

.footers_items {
    margin: 5px 10px 0px;
    display: block;
    transition: right linear 0.1s;
}

.payment-accept {
    margin: 5px 10px 0px;
}

.footers_items a {
    text-decoration: none;
    color: black !important;
}

.footers_items_link:hover {
    right: -4px;
    color: orangered !important;
}

/*Create*/
.form-group{
    display: flex;
    margin: 10px 0px;
}

.create-label{
    width: 120px;
    color: white;
}

.edit-label {
    width: 120px;
    color: black;
}

.deleted-name{
    color: orangered;
}

.form-control {
    width: 400px;
    height: 22px;
    padding: 1px 2px;
    border: 1px solid;
    border-color: #333;
    border-radius: 3px;
    background-color: white;
}

.create-form-list {
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/image/create_product.jpg);
    background-repeat: no-repeat;
    Background-size: cover;
}
.name_create_lab {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    color: white;
}

.form-control_table {
    width: 405px;
    height: 25px;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.create-form-items {
    background-color: rgba(171, 149, 149, 0.01);
}

.create-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.main-image {
    width: 400px;
    height: 200px;
}

.thumbnail {
    width: 200px;
    height: 100px;
    cursor: pointer;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.col-md-6_main {
    margin-left: 24px;
}

.col-md-6_content {
    margin-left: 20px;
}

.control-label{
    width: 60px;
}

.btn-danger{
    border: 2px solid;
    border-radius: 3px;
}

h4 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.titile_info{
    margin-left: 10px;
}

.mo-ta {
    margin-left: 10px;
}

.header_bottom{
    background-color: red;
}

.row_header_bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    height: 300px;
}

.items_right_info {
    /*display: flex !important;*/
    justify-content: space-between !important;
    align-items: center !important;
    flex-basis: 0;
    flex-grow: 1;
}

.box_items{
    display: flex !important;
    list-style: none;
}

.box-item {
    display: flex !important;
    justify-content: space-between;
}

.box-icon{
    width: 30px;
    height: 30px;
}

.box-image {
    width: 20px;
    height: 20px;
}


.product_comment-items_titile{
    border: 2px solid;
    border-color: black;
    width: 100%;
    height: 100px;
    border-radius: 3px;
}

.product_comment-list{
    display: flex;
    margin-bottom: 20px;
}

.product_comment-items{
    margin-left: 10px;
}

.product_comment-items_gui {
    display: flex;
}

.product_comment-items_sm_username{
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product_comment-items_titiles {
    border: 2px solid;
    border-color: black;
    width: 100%;
    height: 100px;
    border-radius: 3px;
    margin-left: 40px;
}

.product_comment-items_username{
    margin-bottom: 50%;
}

.product_comment-items_sm{
    display: flex;
    justify-content: space-between;
}

/*Info*/
.info_avatar {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    display: flex;
    flex-direction: column;
}

.img_avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#AnhDaiDienFile {
    margin-left: 166px; /* Khoảng cách từ hình ảnh lên input */
    position: absolute;
    margin-top: 140px; 
}

input[type="file"] {
    color: transparent; 
}

.form-group {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;
}

.col-md-3 {
    width: 150px;
}

.form-control{
    width: 200px;
    border-radius: 10px;
}

.btn_capnhat {
    margin-left: 595px;
    border-radius: 20px;
    height: 30px;
    background-color: #a8e7f9;
    border-color: #a8e7f9;
}
.avatar_file{
    position: relative;
}

.avatar_link{
    position: absolute;
    margin-left: 160px;
}


.btn-pr{
    border-radius: 10px;
    background-color: orangered;
    font-size: 20px;
}

.btn_the_a {
    border: 2px, solid;
    border-radius: 10px;
    padding: 7px;
    margin: 0px 5px;
}

.button_info{
    margin: 20px 0px;
   display: flex;
   justify-content: end;
}

/*comment*/
.comment_header{
    display: flex;
    justify-content: space-between;
}

.comment-content{
    border: 2px, solid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header_srch_list{
    display: flex;
}

/*accountUser*/
.register_user-header {
    display: flex; /* Sử dụng flexbox để căn giữa theo cả hai chiều */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Đảm bảo form sẽ căn giữa dọc trong phần tử .register_user-header */
}

.titile_cre_user {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.register_user{
    margin: 20px 0px;
}

.product-item_sl-name{
    color: darkslategrey;
    font-size : 10px;
}

.product-item_sl {
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.row_show{
    text-align: center;
}

.row_titile_name{
    text-align: center;
}

.price-filter_btn{
    margin-top: 10px;
}
