﻿@model DoAnCoSoWeb.ViewModels.UserViewModels

<div class="modal">
    <div class="modal__overlayout"></div>

    <div class="modal__body">

        <div class="auth-frm">
            <div class="auth-frm__container">
                <div class="auth-frm__header">
                    <h3 class="auth-frm__heading">Đăng nhập</h3>
                    <div>
                        <a href="trang-chu" class="btn auth-frm__control-bck btn-normal">Trở lại</a>
                        <a href="dang-ky"><span class="auth-frm__switch-btn">Đăng ký</span></a>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <form class="form form-horizontal" asp-action="Login" asp-controller="User" method="POST">
                    <div class="auth-frm__form">
                        <div class="auth-frm__group">
                            <input type="text" class="auth-frm__in" asp-for="Register.Username" placeholder="Username" autofocus required />
                            <span asp-validation-for="Register.Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="auth-frm__form">
                        <div class="auth-frm__group">
                            <input type="password" class="auth-frm__in" asp-for="Register.MatKhau" id="password" placeholder="Password" />
                            <span asp-validation-for="Register.MatKhau"></span>
                        </div>
                    </div>

                    <div class="auth-frm__control">
                        <button type="submit" class="btn btn-danger">Đăng nhập</button>
                    </div>
                </form>
                <div class="auth-frm__otside">
                    <div class="auth-frm__help">
                        <a href="" class="auth-frm__help-link auth-frm__help-forgot">Quên mật khẩu</a>
                        <span class="auth-frm__help-separation"></span>
                        <a href="" class="auth-frm__help-link">Cần trợ giúp ?</a>
                    </div>
                </div>

                @* <div class="auth-frm__control">
                <p class="auth-frm__policy">
                <a href="" class="auth-frm__policy-link">Đièu khoản dịch vụ</a> & <a href="" class="auth-frm__policy-link">Chính sách bảo mật</a>
                </p>
                </div> *@
                <div class="auth-frm__otside">
                    <p class="auth-frm__policy">
                        <a href="" class="auth-frm__policy-link">Đièu khoản dịch vụ</a> & <a href="" class="auth-frm__policy-link">Chính sách bảo mật</a>
                    </p>
                </div>
            </div>

            <div class="auth-frm__social">
                <a href="" class="auth-frm__social--face btn btn--size-s btn--with-icon"><i class="auth-frm__social-icon fa-brands fa-square-facebook"></i> <span class="auth-frm__social_label">Kết nối Facebook</span></a>
                <a href="" class="auth-frm__social--google btn btn--size-s btn--with-icon"><i class="auth-frm__social-icon fa-brands fa-google"></i> <span class="auth-frm__social_label">Kết nối Google</span> </a>
            </div>
        </div>
    </div>
</div>

