﻿@model DoAnCoSoWeb.ViewModels.HomeViewModels

<div class="grid_column-2">
    <nav class="category">
        <h3 class="category-heading"><i class="category-heading-icon fa-solid fa-list"></i> Danh Mục</h3>
        <ul class="category-list">
            <li class="category-items">
                <a href="@Url.Action("ProductsByType", "Home", new { type = "all" })" class="category-items-link">Sản phẩm</a>
            </li>
            <li class="category-items">
                <a href="@Url.Action("ProductsByType", "Home", new { type = "graphiccard" })" class="category-items-link">Card đồ họa</a>
            </li>
            <li class="category-items">
                <a href="@Url.Action("ProductsByType", "Home", new { type = "laptop" })" class="category-items-link">Laptop</a>
            </li>
            <li class="category-items">
                <a href="ram-san-pham" class="category-items-link">Ram</a>
            </li>
        </ul>
    </nav>

    <div sort_product>
        <div class="search_min_form_max">
            <h4>Lọc theo khoản giá</h4>           
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="price-filter_titile">
                    <label for="minPrice">Giá thấp nhất:</label>
                    <input type="number" id="minPrice" name="minPrice" value="@Model.MinPrice" step="0.01">
                    <label for="maxPrice">Giá cao nhất:</label>
                    <input type="number" id="maxPrice" name="maxPrice" value="@Model.MaxPrice" step="0.01">
                </div>

                <div class="search_hang">
                    <div class="price-filter_space">
                        <input type="checkbox" class="price-range" id="lessThan5tr" value="0-5000000" />
                        <span class="price_less_than_5tr">Dưới 5.000.000</span>
                    </div>
                    <div>
                        <input type="checkbox" class="price-range" id="between5trAnd10tr" value="5000000-10000000" />
                        <span class="price_5tr_form_10tr">5.000.000 - 10.000.000</span>
                    </div>
                    <div>
                        <input type="checkbox" class="price-range" id="between10trAnd15tr" value="10000000-15000000" />
                        <span class="price_10tr_form_15tr">10.000.00 - 15.000.000</span>
                    </div>
                    <div>
                        <input type="checkbox" class="price-range" id="between15trAnd20tr" value="15000000-20000000" />
                        <span class="price_15tr_form_20tr">15.000.000 - 20.000.000</span>
                    </div>
                    <div>
                        <input type="checkbox" class="price-range" id="moreThan20tr" value="20000000-" />
                        <span class="price_than_20tr">Trên 20.000.000</span>
                    </div>
                </div>

                <div class="search_hang">
                    <h4>Hãng</h4>
                    @foreach (var hang in Model.hangs)
                    {
                        <div>
                            <input type="checkbox" name="hangIds" value="@hang.Id"
                            @(Model.SelectedHangIds != null && Model.SelectedHangIds.Contains(hang.Id) ? "checked" : "") />
                            <span>@hang.TenHang</span>
                        </div>
                    }
                </div>

                <div class="price-filter_btn">
                    <button type="submit">Lọc</button>
                    <button type="button" id="resetBtn">Reset</button>
                </div>
            </form>
        </div>     
    </div> 
</div>

<div class="grid_column-10">
    <div class="Home-product">
        <form method="get" action="@Url.Action("Index", "Home")">
            <span class="Home-product-lab">Sắp xếp theo</span>
            <a href="mua-nhieu-nhat" class="Home-product_btn btn">Mua nhiều nhất</a>
            <button class="Home-product_btn btn">Mới nhất</button>
            <div class="select-in">
                <span class="select-in-lab">Giá</span>
                <i class="select-in_icon fas fa-angle-down"></i>
                <ul class="select-in_icon-list">
                    <li class="select-in_icon-items">
                        <a href="javascript:void(0)" class="select-in_icon-link" onclick="sortPrice('lowToHigh')">Giá : Thấp đến cao</a>
                    </li>
                    <li class="select-in_icon-items">
                        <a href="javascript:void(0)" class="select-in_icon-link" onclick="sortPrice('highToLow')">Giá : Cao đến thấp</a>
                    </li>
                </ul>
            </div>
        </form>

        <div class="Home-product-pages">
            <span class="Home-product-pages_number">
                <span class="Home-product-pages-current">1</span>/14
            </span>

            <div class="Home-product-control">
                <a class="Home-product-pages-btn">
                    <i class="fas fa-angle-left"></i>
                </a>
                <a class="Home-product-pages-btn">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="btn-option">
        <div class="btn_CRUD">
            <a href="them-san-pham" class="btn-new_create">Create New Product</a>
        </div>
        <div class="btn_CRUD">
            <a href="danh-sach-san-pham" class="btn-new_create">List Product</a>
        </div>
    </div>

    <div class="product">
        <div class="grid_row">
            @foreach (var item in Model.sanphams)
            {
                <div class="grid_column-2_4">
                    <div class="product-item">
                        <img width="100%" height="150px" src="~/image/@item.Image1" class="product-item_image">
                        <h4 class="product-item_name">@item.TenSanPham</h4>
                        <div class="product-item_price">
                            <span class="product-item_price-old">@string.Format("{0:N0}", (float)item.Gia * 1.5) VNĐ</span>
                            <span class="product-item_price-sale">@string.Format("{0:N0}", item.Gia) VNĐ</span>
                        </div>
                        <div class="product-item_action">
                            <span class="product-item_love product-item_like">
                                <i class="product-item_action-dislike fa-regular fa-heart"></i>
                                <i class="product-item_action-like fa-solid fa-heart"></i>
                            </span>
                            <a href="san-pham/@item.Id" class="btn-info">
                                <i class="btn-info-icon fa fa-rocket"></i> Chi tiết
                            </a>
                        </div>
                        <div class="product-item_sl">
                            <span class="product-item_sl-name">Đã bán @Model.soldQuantities.GetValueOrDefault(item.Id, 0)</span>
                        </div>
                        <div class="product-item_saleoff">
                            <span class="product-item_sale-persents">10%</span>
                            <span class="product-item_sale-lab">GIẢM</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function sortPrice(sortOrder) {
        var url = '@Url.Action("Index", "Home")';
        var params = new URLSearchParams(window.location.search);
        params.set('sortOrder', sortOrder);
        url += '?' + params.toString();
        window.location.href = url;
    }
</script>

@* <script>
    document.addEventListener('DOMContentLoaded', function () {
        const priceCheckboxes = document.querySelectorAll('.price-range');
        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');
        const resetBtn = document.getElementById('resetBtn');
        const hangCheckboxes = document.querySelectorAll('input[name="hangIds"]');

        priceCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    const [min, max] = this.value.split('-');
                    minPriceInput.value = min ? parseFloat(min) : '';
                    maxPriceInput.value = max ? parseFloat(max) : '';
                    priceCheckboxes.forEach(cb => {
                        if (cb !== this) cb.checked = false;
                    });
                } else {
                    minPriceInput.value = '';
                    maxPriceInput.value = '';
                }
            });
        });

        minPriceInput.addEventListener('input', () => {
            priceCheckboxes.forEach(cb => cb.checked = false);
        });

        maxPriceInput.addEventListener('input', () => {
            priceCheckboxes.forEach(cb => cb.checked = false);
        });

        resetBtn.addEventListener('click', () => {
            minPriceInput.value = '';
            maxPriceInput.value = '';
            priceCheckboxes.forEach(cb => cb.checked = false);
            hangCheckboxes.forEach(cb => cb.checked = false);

            // Chuyển hướng đến trang "Index" trong controller "Home"
            window.location.href = "/Home/Index";
        });
    });
</script>
 *@

        <script>
    document.addEventListener('DOMContentLoaded', function () {
        const priceCheckboxes = document.querySelectorAll('.price-range');
        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');
        const resetBtn = document.getElementById('resetBtn');
        const hangCheckboxes = document.querySelectorAll('input[name="hangIds"]');

        let priceCheckboxStates = []; // Mảng để lưu trạng thái của các checkbox giá

        // Lưu trạng thái của các checkbox giá vào mảng khi có sự thay đổi
        priceCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    const [min, max] = this.value.split('-');
                    minPriceInput.value = min ? parseFloat(min) : '';
                    maxPriceInput.value = max ? parseFloat(max) : '';
                    priceCheckboxes.forEach(cb => {
                        if (cb !== this) cb.checked = false;
                    });
                } else {
                    minPriceInput.value = '';
                    maxPriceInput.value = '';
                }
                savePriceCheckboxStates(); // Lưu trạng thái của các checkbox giá
            });
        });

        // Lưu trạng thái của các checkbox giá vào mảng
        function savePriceCheckboxStates() {
            priceCheckboxStates = [];
            priceCheckboxes.forEach(checkbox => {
                priceCheckboxStates.push(checkbox.checked);
            });
        }

        // Khôi phục lại trạng thái của các checkbox từ mảng đã lưu khi nhấn nút "Reset"
        function restorePriceCheckboxStates() {
            priceCheckboxes.forEach((checkbox, index) => {
                checkbox.checked = priceCheckboxStates[index];
            });
        }

        // Khôi phục lại trạng thái của các checkbox từ mảng đã lưu khi tải lại trang
        restorePriceCheckboxStates();

        minPriceInput.addEventListener('input', () => {
            priceCheckboxes.forEach(cb => cb.checked = false);
        });

        maxPriceInput.addEventListener('input', () => {
            priceCheckboxes.forEach(cb => cb.checked = false);
        });

        resetBtn.addEventListener('click', () => {
            minPriceInput.value = '';
            maxPriceInput.value = '';
            restorePriceCheckboxStates(); // Khôi phục lại trạng thái của các checkbox giá từ mảng đã lưu

            // Bỏ chọn tất cả các checkbox hãng
            hangCheckboxes.forEach(cb => cb.checked = false);

            // Chuyển hướng đến trang "Index" trong controller "Home"
            window.location.href = "/Home/Index";
        });
    });

        </script>