﻿@model DoAnCoSoWeb.ViewModels.HomeViewModels
<div class="product">
    <div class="grid_row">
        @foreach (var item in Model.ram)
        {
            <div class="grid_column-2_4">
                <div class="product-item">
                    <img width="100%" height="150px" src="~/image/@item.Image1" class="product-item_image">

                    <h4 class="product-item_name">@item.TenSanPham</h4>

                    <div class="product-item_price">
                        <span class="product-item_price-old">@string.Format("{0:N0}", (float)item.Gia * 1.5) VNĐ</span>
                        <span class="product-item_price-sale">@string.Format("{0:N0}", item.Gia) VNĐ</span>
                    </div>

                    <div class="product-item_action">
                        <span class="product-item_love product-item_like">
                            <i class="product-item_action-dislike fa-regular fa-heart"></i>
                            <i class="product-item_action-like fa-solid fa-heart"></i>
                        </span>

                        <a href="san-pham/@item.Id" class="btn-info">
                            <i class="btn-info-icon fa fa-rocket"></i> Chi tiết
                        </a>
                    </div>

                    @* <div class="product-item_sl"><span class="product-item_sl-name">Đã bán @Model.soldQuantities.GetValueOrDefault(item.Id, 0)</span></div> *@

                    <div class="product-item_saleoff">
                        <span class="product-item_sale-persents">10%</span>
                        <span class="product-item_sale-lab">GIẢM</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>